*{
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: lightslategrey;
}

@media(min-width:0px){
    .col-s-1{   width: 8.33%;}
    .col-s-2{   width: 16.66%;}
    .col-s-3{   width: 25%;}
    .col-s-4{   width: 33.33%;}
    .col-s-5{   width: 41.66%;}
    .col-s-6{   width: 50%;}
    .col-s-7{   width: 58.33%;}
    .col-s-8{   width: 66.66%;}
    .col-s-9{   width: 75%;}
    .col-s-10{  width: 83.33%;}
    .col-s-11{  width: 91.66%;}
    .col-s-12{  width: 100%;}
}

@media(min-width:768px){
    .col-m-1{   width: 8.33%;}
    .col-m-2{   width: 16.66%;}
    .col-m-3{   width: 25%;}
    .col-m-4{   width: 33.33%;}
    .col-m-5{   width: 41.66%;}
    .col-m-6{   width: 50%;}
    .col-m-7{   width: 58.33%;}
    .col-m-8{   width: 66.66%;}
    .col-m-9{   width: 75%;}
    .col-m-10{  width: 83.33%;}
    .col-m-11{  width: 91.66%;}
    .col-m-12{  width: 100%;}
}

[class*="col-"]{
    float: left;
}


.flex{
    display: flex;
}

.text-center{
    text-align: center;
}

.encab{
    color: white;
}

.b-1{
    border: white 1px solid;
}

.m-top-10{
    margin-top: 10px;
}

.m-bot-10{
    margin-bottom: 10px;
}


.back-white{
    background-color: white;
}

.inp-num{
    width: 45%;
    height: auto;
}

.inp-but{
    background-color: lightslategrey;
    color: white;
    border-color: lightslategrey;
}

.c-im{
    font-size: 30px;
}

#boton:hover{
    background-color: gray;
}

img{
    max-width: 100%;
    max-height: 100%;
    align-items: center;
}

#im{
    display: inline-block;
    max-height: fit-content;
}

li{
    display: inline-block;
    padding: 10px;
    text-align: center;
    background-color: white;
    /*width: 200;*/
}

li:hover{
    background-color: lightslategray;
    color: white;
    
}